default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username:
  password:
  host: localhost
  port: 5432

development:
  <<: *default
  database: foram_api_development

test: &test
  <<: *default
  database: foram_api_test

production:
  <<: *default
  database: foram_api_production
  username: foram_api
  password: <%= ENV['FORAM_API_DATABASE_PASSWORD'] %>

cucumber:
  <<: *test
